.mainTextWord{
    font-family: sans-serif;
    color: pink;
}

@media (max-width: 480px){
    #postContent{
        font-size: 19px;
    }
}

.mainTextWord{
    font-weight: bold;
    color: rgb(27, 70, 126);
}


/*
    320px — 480px: dispositivos móveis
    481px — 768px: iPads, tablets
    769px — 1024px: telas pequenas, laptops
    1025px — 1200px: desktops, telas grandes
    1201px e acima —  telas muito grandes, TVs

*/